.transactionHistory .th {
  background-color: aquamarine;
  display: block;
  width: 300px;
  text-align: center;
}
.transactionHistory .td {
  display: block;
  width: 300px;
  text-align: center;
}
.tr {
  display: flex;
}
.transactionHistory {
  display: block;
  width: 900px;
}
